<!-- Brand area start -->
<section class="brand__area">
    <div class="container line pt-140 pb-100">
        <span class="line-3"></span>
        <div class="row">
            <div class="col-xxl-12">
                <h2 class="brand__title-3 title-anim">Nos partenaires</h2>
                <div class="brand__list brand-gap">
                    <div class="brand__item-2 fade_bottom">
                        <img src="assets/imgs/brand/airtel.png" alt="Brand Logo">
                    </div>
                    <div class="brand__item-2 fade_bottom">
                        <img src="assets/imgs/brand/ito.png" alt="Brand Logo">
                    </div>
                    <div class="brand__item-2 fade_bottom">
                        <img src="assets/imgs/brand/colas.png" alt="Brand Logo">
                    </div>
                    <div class="brand__item-2 fade_bottom">
                        <img src="{{asset('assets/imgs/brand/dgcc.png')}}" alt="Brand Logo">
                    </div>
                    <div class="brand__item-2 fade_bottom">
                        <img src="assets/imgs/brand/insg.png" alt="Brand Logo">
                    </div>
                    <div class="brand__item-2 fade_bottom">
                        <img src="assets/imgs/brand/akewa.png" alt="Brand Logo">
                    </div>
                    <div class="brand__item-2 fade_bottom">
                        <img src="assets/imgs/brand/lycee.png" alt="Brand Logo">
                    </div>
                    <div class="brand__item-2 fade_bottom">
                        <img src="assets/imgs/brand/gr.png" alt="Brand Logo">
                    </div>
                    <div class="brand__item-2 fade_bottom">
                        <img src="assets/imgs/brand/stafe.png" alt="Brand Logo">
                    </div>
                    <div class="brand__item-2 fade_bottom">
                        <img src="assets/imgs/brand/canal.png" alt="Brand Logo">
                    </div>
                    <div class="brand__item-2 fade_bottom">
                        <img src="assets/imgs/brand/gaps.png" alt="Brand Logo">
                    </div>
                    <div class="brand__item-2 fade_bottom">
                        <img src="assets/imgs/brand/sobraga.png" alt="Brand Logo">
                    </div>
                    <div class="brand__item-2 fade_bottom">
                        <img src="assets/imgs/brand/psg.png" alt="Brand Logo">
                    </div>
                    <div class="brand__item-2 fade_bottom">
                        <img src="assets/imgs/brand/ministere_enseignement.png" alt="Brand Logo">
                    </div>
                    <div class="brand__item-2 fade_bottom">
                        <img src="assets/imgs/brand/eau_foret.png" alt="Brand Logo">
                    </div>
                    <div class="brand__item-2 fade_bottom">
                        <img src="assets/imgs/brand/erlab.png" alt="Brand Logo">
                    </div>
                    <div class="brand__item-2 fade_bottom">
                        <img src="assets/imgs/brand/omp.png" alt="Brand Logo">
                    </div>
                    <div class="brand__item-2 fade_bottom">
                        <img src="assets/imgs/brand/netis.png" alt="Brand Logo">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Brand area end -->