<!-- Workflow area start -->
<section class="workflow__area-3">
  <div class="workflow__wrapper-3">
    <div class="choose-wrapper wf_panel">
      <div class="container">
        <div class="row">
          <div class="col-xxl-12">
            <div class="choose-title-wrapper">
              <h2 class="choose-title title-anim">Pourquoi<br>nous choisir ?</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="research__area wf_panel pt-150">
      <div class="container inner_content me-0">
        <div class="row">
          <div class=" col-xxl-6 col-xl-6 col-lg-6">
            <div class="sec-title-wrapper">
              <h2 class="sec-sub-title">pourquoi <br>nous choisir</h2>
              <h3 class="sec-title">L'Excellence, L'Engagement, La Réussite.</h3>
              <p >
                Dans un monde en constante évolution, choisir le bon partenaire pour vous accompagner dans vos projets est essentiel. Chez BE-FOR-YOU, nous nous démarquons par notre expertise, notre engagement et notre approche personnalisée pour répondre aux besoins de nos clients et partenaires.
              </p>
            </div>
          </div>
          <div class="col-xxl-6 col-xl-6 col-lg-6">
            <div class="research__list">
              <div class="research__item">
                <div class="research__number">
                  <span>100%</span>
                </div>
                <div class="research__info">
                  <h4 class="research__title">Expertise et Expérience</h4>
                  <p >
                    Nous combinons des années d'expérience dans nos différents domaines d’activité, avec une équipe d’experts passionnés et qualifiés.
                  </p>
                </div>
              </div>

              <div class="research__item">
                <div class="research__number">
                  <span>100%</span>
                </div>
                <div class="research__info">
                  <h4 class="research__title">Accompagnement Personnalisé</h4>
                  <p>Chaque client est unique, c’est pourquoi nous adoptons une approche sur-mesure qui s’adapte à vos besoins spécifiques.</p>
                </div>
              </div>

              <div class="research__item">
                <div class="research__number">
                  <span>100%</span>
                </div>
                <div class="research__info">
                  <h4 class="research__title">Relation de Confiance</h4>
                  <p>Nous plaçons la transparence, la confiance et la satisfaction client au cœur de notre démarche.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="counter__area-3 wf_panel">
      <div class="container">
        <div class="row">
          <div class="col-xxl-12">
            <div class="sec-title-wrapper">
              <h2 class="sec-sub-title">Pourquoi<br> Nous </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
            <div class="counter__wrapper-3">
              <div class="counter__item-3">
                <h2 class="counter__number" style="font-size: 50px">100%</h2>
                <p>de projet <br>validée</p>
              </div>
              <div class="counter__item-3">
                <h2 class="counter__number" style="font-size: 50px">100%</h2>
                <p>de clients <br>satisfaits</p>
              </div>
              <div class="counter__item-3">
                <h2 class="counter__number" style="font-size: 50px">7</h2>
                <p>ans <br>d'experiences</p>
              </div>
            </div>
          </div>
          <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
            <div class="counter__img-3">
              <img src="{{ asset('assets/imgs/thumb/counter-3.png') }}" alt="Counter Image">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- CTA area start -->
    <div class="cta__area-3 wf_panel">
      <div class="container pt-150 pb-150">
        <div class="row">
          <div class="col-xxl-12">
            <div class="cta__content-3">
              <p class="cta__sub-title-2"> Avez-vous un projet en tête ? </p>
              <h2 class="cta__title-2">Réalisons quelque chose d'exceptionnel ensemble !</h2>
              <div class="btn_wrapper">
                <a href="{{ path('app_contact') }}" class="wc-btn-black btn-hover btn-item"><span></span>Nous <br>contacter<i class="fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- CTA area end -->

  </div>
</section>
<!-- Workflow area end -->